*,
html{
    margin: 0;
    padding: 0;
}
body{
    background-color: blanchedalmond;
}
.container-navigasi{
    background-color: #444;
    width: 100%;
    height: 100px;
}

.ul-navigasi{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.li-navigasi{
    border: 1px solid #999;
    background-color: #444;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
}

.li-navigasi:hover {
    background-color: aquamarine;
    transition: .5s ease-in-out;
    transition-delay: .2s;
    border-radius: 20px;
}

.a-navbar{
    color: white;
    text-decoration: none;
}

.container-content{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.img-content{
    height: 90%;
    width: 30%;
}

.container-footer{
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.h1-footer{
    font-size: 40px;
    font-style: oblique;
    color: azure;
}